# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.local
.terraform.lock.hcl

# IDEs
.vscode/
.idea/

# Folders
/sandbox/
/tests/
